html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
}

pre,
code {
    font-family: 'Consolas', monospace;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
